data/tifs
unlinked.log
archive
.ipynb_checkpoints
export
data/BF-BOF-CCS_Carina.xlsx
data/H2-DRI_LCI.xlsx
data/full data
data/df_countries.xlsx
data/merged_steel_dbs.xlsx
data/mean_cfs.csv
data/Global-Steel-Plant-Tracker-April-2024-Standard-Copy-V1.xlsx
data/remind_SSP2-PkBudg1150_original_checkers.xlsx
data/low_carbon_steel_projects.xlsx
figs/Flowchart applications.pptx
private_keys.py
results/